<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Source:</strong>
  <%= @contact.source %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @contact.budget %>
</p>

<p>
  <strong>Bedrooms:</strong>
  <%= @contact.bedrooms %>
</p>

<p>
  <strong>Bathrooms:</strong>
  <%= @contact.bathrooms %>
</p>

<p>
  <strong>Pets:</strong>
  <%= @contact.pets %>
</p>

<p>
  <strong>:</strong>
  <%= @contact. %>
</p>

<p>
  <strong>String:</strong>
  <%= @contact.string %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
